<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-Api-Test-Suite">
    <test name="siddhi-api-tests" enabled="true" parallel="classes">
        <classes>
            <class name="io.siddhi.query.api.DefineAggregationTestCase"/>
            <class name="io.siddhi.query.api.DefineStreamTestCase"/>
            <class name="io.siddhi.query.api.DefineTableTestCase"/>
            <class name="io.siddhi.query.api.DefineTriggerTestCase"/>
            <class name="io.siddhi.query.api.DefineWindowTestCase"/>
            <class name="io.siddhi.query.api.DefineFunctionTestCase"/>
            <class name="io.siddhi.query.api.JoinQueryTestCase"/>
            <class name="io.siddhi.query.api.OutputRateTestCase"/>
            <class name="io.siddhi.query.api.PartitionQueryTestCase"/>
            <class name="io.siddhi.query.api.PatternQueryTestCase"/>
            <class name="io.siddhi.query.api.SequenceQueryTestCase"/>
            <class name="io.siddhi.query.api.SimpleQueryTestCase"/>
            <class name="io.siddhi.query.api.OnDemandQueryTestCase"/>
            <class name="io.siddhi.query.api.TableQueryTestCase"/>
            <class name="io.siddhi.query.api.RetrieveMessageContextTestCase"/>
        </classes>
    </test>
</suite>